body{
  width: 400px;
}
header{
  height:100px;
  width: 400px;
  background: #ff0000;
}
.header-contents{
  height: 60px;
  width: 160px;
  position:absolute;
  background: #ffffff;
  top:20px;
  left: 220px;

}
.header-part{
  width:40px;
  height: 40px;
  background:#a9004b;
  float: right;
  margin-top: 10px;
}

.left{
  margin-right: 10px;
}
.center{
  margin-right: 10px;
}
.right{
  margin-right: 10px;
}

.side{
  float:left;
  width: 150px;
  height: 250px;
  background: #00ff51;
}

.main-contents{
  float: right;
  width: 250px;
  height: 250px;
  background: #8c2727;
}
.main-contents-parts{
  position: relative;
  top: 40px;
  left: 40px;
}
.main-contents-part{
  width: 140px;
  height: 40px;
  background: #ff863f;
  border: solid;
  border-width: 5px;
  border-color: #ffffff;
  margin-bottom: 10px;
}
footer{
  width: 400px;
  height: 100px;
  background: #ffd000;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}